@model dynamic
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "EditPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>WetCat Social Network</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
</head>
<body>
			<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img class="" id="web_logo" src="images/profiles/admin/logo.jpg" alt=""></a>
			</div>

			<div class="top-area">
				<div class="top-search">
					<form method="post" asp-action="Search" asp-controller="Home">
						<input type="text" placeholder="Search Friend" required="required" name="data">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="user-img">
					<img src="~/@Model.currentSessionUser.AvatarSrc" style="max-width: 50px">
					<span class="status f-online"></span>
					<div class="user-setting">						
						<a href="/Wall/@Model.currentSessionUser.Username/edit" title=""><i class="ti-pencil-alt"></i>edit profile</a>
						<a asp-action="Logout" asp-controller="Home" title=""><i class="ti-power-off"></i>log out</a>
					</div>
				</div>
			</div>
		</div><!-- topbar -->
		
	<section>
		<div class="gap2 gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
													<i class="ti-clipboard"></i>
													<a asp-action="Index" asp-controller="Post">News feed</a>
												</li>
												<li>
													<i class="ti-files"></i>
													<a href="Wall/@Model.currentSessionUser.Username/timeline">My pages</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="Wall/@Model.currentSessionUser.Username/friends">friends</a>
												</li>
												<li>
													<i class="ti-bell"></i><span id="notiCnt" style="color: red;">@Model.countNoti</span>
													<a href="/NotificationList/NotificationList" title="">Notifications</a>
													<script>
														$(window).on("mousemove", function () {
														$.ajax({
															url: "@Url.Action("NotiCount", "NotificationList")",
															success: function (jsReturnArgs) {
																$("#notiCnt").html(jsReturnArgs);
															}
														});
														});
													</script>
												</li>
												<li>
													<i class="ti-power-off"></i>
													<a asp-action="Logout" asp-controller="Home" title="">Logout</a>
												</li>
										</ul>
									</div><!-- Shortcuts -->						
								</aside>
							</div><!-- sidebar -->
                                                       
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="new-postbox w-100">
										<div class="currentUserSession flex-container w-100">
											<img src="~/@Model.currentSessionUser.AvatarSrc" alt="avt" class="img-avt">	
											<span id="currentUserSession-username"><ins><a href="..." title="">@Model.currentSessionUser.Nickname</a></ins></span>
											<span class="dropdown show" id="post-privacy">
												<button class="dropdown-toggle btn" href="#" role="button" id="privacy-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													@if(Model.post.PrivacyMode == "Public"){
														<a class="fa fa-globe"></a>
													}else if(Model.post.PrivacyMode == "Friend"){
														<a class="fa fa-user"></a>
													}else{
														<a class="fa fa-lock"></a>
													}
													</a><span>@Model.post.PrivacyMode</span>												
												</button>
												<div class="dropdown-menu" aria-labelledby="privacy-list">
													<a class="dropdown-item fa fa-globe" id="privacy-list-public"><span value="Public">Public</span></a>
													<a class="dropdown-item fa fa-user" id="privacy-list-friend"><span value="Friend">Friend</span></a>
													<a class="dropdown-item fa fa-lock" id="privacy-list-private"><span value="Private">Private</span></a>
												</div>
											</span>
										</div>
										<div class="newpst-input">
											<form id="post-form-create" method="post" asp-action="EditPostReal" asp-controller="Post" enctype="multipart/form-data">
												<div>		
													<input type="text" name="postId" value="@Model.post.PostId" hidden>												
													<input id="privacy" type="text" name="privacy" value="@Model.post.PrivacyMode" hidden>

													<div id="img-file">
														<label for="file"></label>
														<input type="file" name="file">
													</div>					

													<div>
														<label for="content"></label>
														<textarea form="post-form-create" rows="3" name="content" required>@Model.post.PostContent</textarea>
														</br>
													</div>								
													</br>												
												</div>

												<div class="attachments">																								
													<button type="submit">Edit</button>								
												</div>												
											</form>
										</div>
									</div>
								</div><!-- add post new box -->					
							</div><!-- centerl meta -->
							<div class="col-lg-3"></div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>
</div>
</body>	
</html>