@model dynamic
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>WetCat Social Network</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
</head>
<body>
	<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img class="" id="web_logo" src="images/profiles/admin/logo.jpg" alt=""></a>
			</div>

			<div class="top-area">
				<div class="top-search">
					<form method="post" asp-action="Search" asp-controller="Home">
						<input type="text" placeholder="Search Friend" required="required" name="data">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="user-img">
					<img src="~/@Model.currentSessionUser.AvatarSrc" style="max-width: 50px">
					<span class="status f-online"></span>
					<div class="user-setting">						
						<a href="/Wall/@Model.currentSessionUser.Username/edit" title=""><i class="ti-pencil-alt"></i>edit profile</a>
						<a asp-action="Logout" asp-controller="Home" title=""><i class="ti-power-off"></i>log out</a>
					</div>
				</div>
			</div>
	</div><!-- topbar -->
		

	<section>
		<div class="gap2 gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
												<li>
													<i class="ti-clipboard"></i>
													<a asp-action="Index" asp-controller="Post">News feed</a>
												</li>
												<li>
													<i class="ti-files"></i>
													<a href="/Wall/@Model.currentSessionUser.Username/timeline">My pages</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="/Wall/@Model.currentSessionUser.Username/friends">friends</a>
												</li>
												<li>
													<i class="ti-bell"></i><span id="notiCnt" style="color: red;">@Model.countNoti</span>
													<a href="/NotificationList/NotificationList" title="">Notifications</a>
													<script>
														$(window).on("mousemove", function () {
														$.ajax({
															url: "@Url.Action("NotiCount", "NotificationList")",
															success: function (jsReturnArgs) {
																$("#notiCnt").html(jsReturnArgs);
															}
														});
														});
													</script>
												</li>
												<li>
													<i class="ti-power-off"></i>
													<a asp-action="Logout" asp-controller="Home" title="">Logout</a>
												</li>
											</ul>
									</div><!-- Shortcuts -->						
								</aside>
							</div><!-- sidebar -->
                                                       
							<div class="col-lg-6">
								<div class="central-meta item">
												<div class="container user-post">
													<div class="row friend-info">
														<div class="col-2" id="avt">
															<img class="img-avt" id="post-id"
															src="~/@Model.post.PostAuthorNavigation.AvatarSrc"
															alt="@Model.post.PostId">
														</div>
														@if (Model.currentSessionUser.Username == Model.post.PostAuthor)
														{
															<div class="col-9 friend-name">
																<ins class="row"><a href="/Wall/@Model.PostAuthor/timeline"
																title="">@Model.post.PostAuthorNavigation.Nickname</a></ins>
																<span class="row">@Model.post.PostTime</span>
															</div>
															<div class="col-1 dropdown show">
																<a class="dropdown-toggle" href="#" role="button"
																	id="dropdownMenuLink" data-toggle="dropdown"
																	aria-haspopup="true" aria-expanded="false"></a>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
																	<a class="dropdown-item" asp-action="EditPost"
																asp-controller="Post"
																asp-route-postId="@Model.post.PostId">Edit</a>
																	<a class="dropdown-item" asp-action="DeletePost"
																asp-controller="Post"
																asp-route-postId="@Model.post.PostId">Delete</a>
																</div>
															</div>
														}
														else
														{
															<div class="col-10 friend-name">
																<ins class="row"><a href="/Wall/@Model.post.PostAuthor/timeline"
																title="">@Model.post.PostAuthorNavigation.Nickname</a></ins>
																<span class="row">@Model.post.PostTime</span>
															</div>
														}
													</div>
													<div class="row post-meta">
														@if (Model.post.PostImgSrc != null)
														{
															<img src="~/@Model.post.PostImgSrc" class="img img-fluid" alt="image">
														}
														<div class="we-video-info">
															<ul id="@Model.post.PostId">
																<li>
																	<a asp-action="ViewComment" asp-controller="Post" asp-route-postId="@Model.post.PostId">
																	<span class="comment" data-toggle="tooltip"
																	title="Comments">
																		<i class="fa fa-comments-o"></i>
																	</span>
																	</a>
																</li>
																<li style="position: relative;">
																	
																	<a id="react" class="icon-hover post-footer @Model.post.PostId">
																	<div class="box-list-icons">
																		<div class="like-icon">
																			<label>Like</label>
																		</div>
																		<div class="love-icon">
																			<label>Love</label>
																		</div>
																		<div class="smiling-icon">
																			<label>Haha</label>
																		</div>
																		<div class="sad-icon">
																			<label>Sad</label>
																		</div>
																		<div class="angry-icon">
																			<label>Angry</label>
																		</div>
																	</div>
																	<script>
																		
																		$(document).ready(function() {
																			$.each($("#@Model.post.PostId"), function(){
																				var id = $(this).closest("ul").attr('id');
																				$.ajax({
																					url: "@Url.Action("GetReactStatus", "React")",
																					data: { id: id },
																					async: false,
																					success: function (jsReturnArgs) {
																						$(document).find("#@Model.post.PostId").find("#react").html(jsReturnArgs);
																					}
																				});
																			})
																		});
																	</script>
																</a>
																	
																</li>													
															</ul>
														</div>
														<div class="description">
															<p>@Model.post.PostContent</p>
														</div>
													</div>
												</div>
												<div class="coment-area">
													<ul class="we-comet">
                                                        @foreach (var comment in Model.CommentList)
                                                        {
															bool hasChild = false; 
															foreach (var reply in Model.CommentList)
                                                     			if (reply.ParentId == comment.CommentId)
																	hasChild = true;
                                                            if (comment.ParentId != null) continue;
                                                            <li class="parent-comment">
																<div class="comet-avatar">
																	<img src="~/@comment.CommentAuthorNavigation.AvatarSrc" alt="">
																</div>
																<div class="we-comment">
																	<div class="coment-head">
																		<h5><a href="/Wall/@comment.CommentAuthorNavigation.Username/timeline" title="">@comment.CommentAuthorNavigation.Nickname</a></h5>
																		<span>@comment.CommentTime</span>
																		<a class="we-reply" href="javascript:void(0)" title="Reply" onclick="showReplyInput('reply-@comment.CommentId')">
																			<i class="fa fa-reply"></i>
																		</a>
																		@if (Model.currentSessionUser.Username == comment.CommentAuthor) {
																			<span class="dropdown show ml-0">
																				<a class="dropdown-toggle" href="#" role="button"
																					id="dropdownMenuLink" data-toggle="dropdown"
																					aria-haspopup="true" aria-expanded="false"></a>
																				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
																					<a class="dropdown-item" asp-action="EditComment"
																						asp-controller="Post"
																						asp-route-commentId="@comment.CommentId">Edit</a>
																					<a class="dropdown-item" asp-action="DeleteComment"
																						asp-controller="Post"
																						asp-route-commentId="@comment.CommentId">Delete</a>
																				</div>
																			</span>
																		}
																	</div>
																	<p>
                                                                        @if (comment.CommentId == ViewBag.CommentID) {
                                                                            <form method="post" asp-action="EditComment">
																				<input name="commentID" value="@comment.CommentId" hidden>
                                                                                <textarea placeholder="Post your comment" name="content">@comment.CommentContent</textarea>
                                                                                
                                                                                <button type="submit" style="background-color: white">
                                                                                    <img src="~/images/send-icon.png">
                                                                                </button>
                                                    
                                                                            </form>            
                                                                        } else {
                                                                            <p>@comment.CommentContent</p>
                                                                        }
                                                                        
                                                                    </p>
																</div>
																<ul id="reply-@comment.CommentId" class="reply-comment" style="display: none;">
																	<li class="post-comment">
																		<div class="comet-avatar">
																			<img src="~/images/resources/comet-1.jpg" alt="">
																		</div>
																		<div class="post-comt-box">
																			<form method="post" asp-action="AddComment" asp-controller="Post">
																				<input name="postID" value="@comment.PostId" hidden>
																				<input name="parentID" value="@comment.CommentId" hidden>	
																				<textarea name="content" placeholder="Post your comment"></textarea>
																				<button type="submit" style="background-color: white">
                                                                                        <img src="~/images/send-icon.png">
                                                                                </button>
																			</form>
																		</div>
																	</li>	
																</ul>
                                                            @if (hasChild == true) {
                                                                <ul>
                                                                    @foreach (var reply in Model.CommentList)
                                                                    {
                                                                        if (reply.ParentId == comment.CommentId) {
                                                                            <li>
                                                                                <div class="comet-avatar">
                                                                                    <img src="~/@reply.CommentAuthorNavigation.AvatarSrc" alt="">
                                                                                </div>
                                                                                <div class="we-comment">
                                                                                    <div class="coment-head">
                                                                                        <h5><a href="/Wall/@reply.CommentAuthorNavigation/timeline" title="">@reply.CommentAuthorNavigation.Nickname</a></h5>
                                                                                        <span>@reply.CommentTime</span>
                                                                                        <a class="we-reply" href="#" title="Reply"><i
                                                                                                class="fa fa-reply"></i></a>
                                                                                    </div>
                                                                                     @if (reply.CommentId == ViewBag.CommentID) {
																						<form method="post" asp-action="EditComment">
																							<input name="commentID" value="@reply.CommentId" hidden>
																							<textarea placeholder="Post your comment" name="content">@reply.CommentContent</textarea>
																							
																							<button type="submit" style="background-color: white">
																								<img src="~/images/send-icon.png">
																							</button>
																
																						</form>            
																					} else {
																						<p>@reply.CommentContent</p>
																					}
                                                                                </div>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            }
                                                            </li>
                                                        }
                        
                                                        <li class="post-comment">
															<div class="comet-avatar">
																<img src="~/@Model.currentSessionUser.AvatarSrc" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post" asp-action="AddComment" asp-controller="Post">
																	<input name="postID" value="@Model.post.PostId" hidden>
																	<input name="parentID" hidden>	
																	<textarea name="content" placeholder="Post your comment"></textarea>
																	<div>
																		<button type="submit">
                                                                        <img src="~/images/send-icon.png">
                                                                    </button>
																	</div>
																	
																</form>
															</div>
														</li>			
													</ul>
												</div>
											</div>			
							</div><!-- centerl meta -->
							<div class="col-lg-3"></div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1"/> 
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" /> 
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" /> 
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" /> 
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" /> 
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" /> 
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" /> 
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" /> 
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" /> 
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" /> 
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" /> 
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->		
	<script>
		function showReplyInput(replyId) {
			var replyList = document.getElementsByClassName("reply-comment"); 
			Array.from(replyList).forEach((x) => {
				x.style.display = "none";
			})
			document.getElementById(replyId).style.display = 'block';
		}
	</script>
</body>	
</html>