@model dynamic
@using Microsoft.AspNetCore.Http

@{
	ViewData["Title"] = "Homepage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>WetCat Social Network</title>
	<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">
</head>

<body>
		<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img class="" id="web_logo" src="images/profiles/admin/logo.jpg" alt=""></a>
			</div>

			<div class="top-area">
				<div class="top-search">
					<form method="post" asp-action="Search" asp-controller="Home">
						<input type="text" placeholder="Search Friend" required="required" name="data">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="user-img">
					<img src="~/@Model.currentSessionUser.AvatarSrc" style="max-width: 50px">
					<span class="status f-online"></span>
					<div class="user-setting">						
						<a href="Wall/@Model.currentSessionUser.Username/edit" title=""><i class="ti-pencil-alt"></i>edit profile</a>
						<a asp-action="Logout" asp-controller="Home" title=""><i class="ti-power-off"></i>log out</a>
					</div>
				</div>
			</div>
		</div><!-- topbar -->

		<section>
			<div class="gap2 gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row merged20" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static left">
										<div class="widget">
											<h4 class="widget-title">Shortcuts</h4>
											<ul class="naves">
												<li>
													<i class="ti-clipboard"></i>
													<a asp-action="Index" asp-controller="Post">News feed</a>
												</li>
												<li>
													<i class="ti-files"></i>
													<a href="Wall/@Model.currentSessionUser.Username/timeline">My pages</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="Wall/@Model.currentSessionUser.Username/friends">friends</a>
												</li>
												<li>
													<i class="ti-bell"></i><span id="notiCnt" style="color: red;">@Model.countNoti</span>
													<a href="/NotificationList/NotificationList" title="">Notifications</a>
													<script>
														$(window).on("mousemove", function () {
														$.ajax({
															url: "@Url.Action("NotiCount", "NotificationList")",
															success: function (jsReturnArgs) {
																$("#notiCnt").html(jsReturnArgs);
															}
														});
														});
													</script>
												</li>
												<li>
													<i class="ti-power-off"></i>
													<a asp-action="Logout" asp-controller="Home" title="">Logout</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->
									</aside>
								</div><!-- sidebar -->

								<div class="col-lg-6">
									<div class="central-meta">
										<div class="new-postbox w-100">
											<div class="currentUserSession flex-container w-100">
												<img src="~/@Model.currentSessionUser.AvatarSrc" alt="avt"
													class="img-avt">
												<span id="currentUserSession-username"><ins><a href="Wall/@Model.currentSessionUser.Username/timeline"
															title="">@Model.currentSessionUser.Nickname</a></ins></span>
												<span class="dropdown show" id="post-privacy">
													<button class="dropdown-toggle btn" href="#" role="button"
														id="privacy-list" data-toggle="dropdown" aria-haspopup="true"
														aria-expanded="false">
														<a class="fa fa-globe"></a><span>Public</span>
													</button>
													<div class="dropdown-menu" aria-labelledby="privacy-list">
														<a class="dropdown-item fa fa-globe"
															id="privacy-list-public"><span
																value="Public">Public</span></a>
														<a class="dropdown-item fa fa-user"
															id="privacy-list-friend"><span
																value="Friend">Friend</span></a>
														<a class="dropdown-item fa fa-lock"
															id="privacy-list-private"><span
																value="Private">Private</span></a>
													</div>
												</span>
											</div>
											<div class="newpst-input">
												<form id="post-form-create" method="post" asp-action="CreatePost"
													asp-controller="Post" enctype="multipart/form-data">
													<div>
														<input id="privacy" type="text" name="privacy" value="Public"
															hidden>

														<div id="img-file">
															<label for="file"></label>
															<input type="file" name="file" accept="image/*">
														</div>

														<div>
															<label for="content"></label>
															<textarea form="post-form-create" rows="3"
																placeholder="Write something" name="content"
																required></textarea>
															</br>
														</div>
														</br>
													</div>

													<div class="attachments">
														<button type="submit">Post</button>
													</div>
												</form>
											</div>
										</div>
									</div><!-- add post new box -->

									<div class="loadMore" id="showtable">
										@foreach (var item in Model.postsList)
										{
											<section class="central-meta item">

												<div class="container user-post">
													<div class="row friend-info">
														<div class="col-2" id="avt">
															<img class="img-avt" id="post-id"
															src="@item.PostAuthorNavigation.AvatarSrc"
															alt="@item.PostId">
														</div>
														@if (Model.currentSessionUser.Username == item.PostAuthor)
														{
															<div class="col-9 friend-name">
																<ins class="row"><a href="Wall/@item.PostAuthor/timeline"
																title="">@item.PostAuthorNavigation.Nickname</a></ins>
																<span class="row">@item.PostTime</span>
															</div>
															<div class="col-1 dropdown show">
																<a class="dropdown-toggle" href="#" role="button"
																	id="dropdownMenuLink" data-toggle="dropdown"
																	aria-haspopup="true" aria-expanded="false"></a>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
																	<a class="dropdown-item" asp-action="EditPost"
																asp-controller="Post"
																asp-route-postId="@item.PostId">Edit</a>
																	<a class="dropdown-item" asp-action="DeletePost"
																asp-controller="Post"
																asp-route-postId="@item.PostId">Delete</a>
																</div>
															</div>
														}
														else
														{
															<div class="col-10 friend-name">
																<ins class="row"><a href="Wall/@item.PostAuthor/timeline"
																title="">@item.PostAuthorNavigation.Nickname</a></ins>
																<span class="row">@item.PostTime</span>
															</div>
														}
													</div>
													<div class="row post-meta">
														@if (item.PostImgSrc != null)
														{
															<img src="@item.PostImgSrc" class="img img-fluid" alt="image">
														}
														<div class="we-video-info">
															<ul id="@item.PostId">
																<li>
																	<a asp-action="ViewComment" asp-controller="Post" asp-route-postId="@item.PostId">
																	<span class="comment" data-toggle="tooltip"
																	title="Comments">
																		<i class="fa fa-comments-o"></i>
																	</span>
																	</a>
																</li>
																<li style="position: relative;">
																	
																	<a id="react" class="icon-hover post-footer @item.PostId">
																	<div class="box-list-icons">
																		<div class="like-icon">
																			<label>Like</label>
																		</div>
																		<div class="love-icon">
																			<label>Love</label>
																		</div>
																		<div class="smiling-icon">
																			<label>Haha</label>
																		</div>
																		<div class="sad-icon">
																			<label>Sad</label>
																		</div>
																		<div class="angry-icon">
																			<label>Angry</label>
																		</div>
																	</div>
																	<script>
																		
																		$(document).ready(function() {
																			$.each($("#@item.PostId"), function(){
																				var id = $(this).closest("ul").attr('id');
																				$.ajax({
																					url: "@Url.Action("GetReactStatus", "React")",
																					data: { id: id },
																					async: false,
																					success: function (jsReturnArgs) {
																						$(document).find("#@item.PostId").find("#react").html(jsReturnArgs);
																					}
																				});
																			})
																		});
																	</script>
																</a>
																	
																</li>													
															</ul>
														</div>
														<div class="description">
															<p>
																@item.PostContent
															</p>
														</div>
													</div>
												</div>
											</section>
										}

									</div>
								</div><!-- centerl meta -->
								<div class="col-lg-3"></div><!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="bottombar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>