@model User
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this User?</h2>

<hr>
<form method="POST" asp-action="Delete">
    <div class="row">
        <b class="col-6">Username</b>
        <div class="col-6">@Model.Username</div>
    </div>
    <div class="row">
        <b class="col-6">Email</b>
        <div class="col-6">@Model.UserMail</div>
    </div>
    <div class="row">
        <b class="col-6">Password</b>
        <div class="col-6">@Model.Password</div>
    </div>
    <div class="row">
        <b class="col-6">Nickname</b>
        <div class="col-6">@Model.Nickname</div>
    </div>
    <div class="row">
        <b class="col-6">Gender</b>
        <div class="col-6">@Model.Gender</div>
    </div>
    <div class="row">
        <b class="col-6">Phone</b>
        <div class="col-6">@Model.Phone</div>
    </div>
    <div class="row">
        <b class="col-6">Birthday</b>
        <div class="col-6">@Model.Birthday.ToShortDateString()</div>
    </div>
    <br> 
    <div>
        <input type="submit" value="Delete" class="btn btn-danger" asp-controller="UserManagement" asp-action="Delete"/>

        @Html.ActionLink("Back to list", "Index") 
    </div>
</form>