@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Wall.cshtml";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@model List<Friend>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/main.min.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/color.css">
<link rel="stylesheet" href="~/css/responsive.css">
<script src="~/js/main.min.js"></script>
<script src="~/js/script.js"></script>


<div class="central-meta">
    <div class="frnds">                                                         
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href='/Wall/@HttpContextAccessor.HttpContext.Session.GetString("username")/friends'>My Friends</a></li>
            <li class="nav-item">Pending Requests<span>@Model.Count</span></li>
        </ul>
        <ul style="list-style-type: none;">
            <li class="nav-item" style="position: absolute; right: 0" id="searchDir"></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active fade show " id="frends">
                <ul class="nearby-contct" id="people-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="nearly-pepls">

                                @if (item.FirstUsername == HttpContextAccessor.HttpContext.Session.GetString("username"))
                                {
                                    <figure>
                                        <a href="/Wall/@item.SecondUsernameNavigation.Username/timeline" title=""><img src="@item.SecondUsernameNavigation.AvatarSrc" alt=""></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a href="/Wall/@item.FirstUsernameNavigation.Username/timeline" title="">@item.SecondUsernameNavigation.Nickname</a></h4>
                                        <span style="color: #757575;">@item.StatusTime</span>
                                        <a href="" onclick='window.location = "@Url.Action("AcceptAtList","Friend", new {usn = item.SecondUsernameNavigation.Username})";' title="" class="add-butn more-action" style="top: 0; right: 35%" data-ripple="">Accept</a>
                                        <a href="" onclick='window.location = "@Url.Action("RefuseAtList","Friend", new {usn = item.SecondUsernameNavigation.Username})";' title="" class="add-butn more-action" style="top: 0; right: 10%" data-ripple="">Refuse</a>
                                    </div>
                                } else {
                                    <figure>
                                        <a href="/Wall/@item.FirstUsernameNavigation.Username/timeline" title=""><img src="@item.FirstUsernameNavigation.AvatarSrc" alt=""></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a href="/Wall/@item.FirstUsernameNavigation.Username/timeline" title="">@item.FirstUsernameNavigation.Nickname</a></h4>
                                        <span style="color: #757575;">@item.StatusTime</span>
                                        <a href="" onclick='window.location = "@Url.Action("AcceptAtList","Friend", new {usn = item.FirstUsernameNavigation.Username})";' class="add-butn more-action" style="top: 0; right: 35%" data-ripple="">Accept</a>
                                        <a href="" onclick='window.location = "@Url.Action("RefuseAtList","Friend", new {usn = item.FirstUsernameNavigation.Username})";' class="add-butn more-action" style="top: 0; right: 10%" data-ripple="">Refuse</a>
                                    </div>
                                }
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>

</div>
