@model User

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>WetCat Social Network</title>
	<link rel="icon" href="~/~/images/fav.png" type="image/png" sizes="16x16">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="~/css/main.min.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/color.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel="stylesheet" href="~/css/pixelarity.css">
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/js/main.min.js"></script>
	<script src="~/js/script.js"></script>

</head>

<body>
		<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img class="" id="web_logo" src="images/profiles/admin/logo.jpg" alt=""></a>
			</div>
			<div class="top-area">
				<div class="top-search">
					<form method="post" asp-action="Search" asp-controller="Home">
						<input type="text" placeholder="Search Friend" required="required" name="data">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="user-img">
					<img src="~/@ViewBag.AvatarSrc" style="max-width: 50px">
					<span class="status f-online"></span>
					<div class="user-setting">						
						<a href="Wall/@ViewBag.Username/edit" title=""><i class="ti-pencil-alt"></i>edit profile</a>
					</div>
				</div>
			</div>
		</div><!-- topbar -->

		<section>
			<div class="feature-photo">
					@if (Model == null || Model.BackgroundSrc == null)
					{
						<figure style="width: auto;">
							<img src="~/images/resources/timeline-1.jpg" alt="">
						</figure>
					}
					else
					{
						<figure>
							<img src="~/@Model.BackgroundSrc" alt="">
						</figure>
					}	
				<div class="add-btn">
					<span id="followers-count"></span>
					@if (Model.Username != HttpContextAccessor.HttpContext.Session.GetString("username"))
					{
						<a href="#" title="" id="follow-status" data-ripple=""></a>
						<a href="#" title="" id="friend-status" data-ripple="">Add Friend</a>
						<script>
							$(window).on("load", function () {
								var id = "@Model.Username";
								$.ajax({
									url: "@Url.Action("FriendStatus", "Friend")",
									data: { id: id },
									success: function (jsReturnArgs) {
										$("#friend-status").html(jsReturnArgs);
									}
								});
								$.ajax({
									url: "@Url.Action("FollowStatus", "Follow")",
									data: { id: id },
									success: function (jsReturnArgs) {
										$("#follow-status").html(jsReturnArgs);
									}
								});
							});
						</script>
					}

				</div>
				@if (Model.Username == HttpContextAccessor.HttpContext.Session.GetString("username")) {
					<form id="wallpaperForm" class="edit-phto" asp-action="UploadWallpaper" asp-controller="User"
						enctype="multipart/form-data">
						<i class="fa fa-camera-retro"></i>
						<label class="fileContainer">
							Edit Cover Photo
							<input type="file" name="file" id="wallpaper">
						</label>
					</form>
				}
				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							<div class="user-avatar">
								<figure>
									@if (Model == null || Model.AvatarSrc == null)
									{
										<img id="result" src="~/images/resources/user-avatar.jpg" alt="">
									}
									else
									{
										<img id="result" src="~/@Model.AvatarSrc" alt="">
									}
									@if (Model.Username == HttpContextAccessor.HttpContext.Session.GetString("username")) {
										<form method="POST" id="avatarForm" class="edit-phto" asp-action="UploadAvatar"
											asp-controller="User" enctype="multipart/form-data">
											<i class="fa fa-camera-retro"></i>
											<label class="fileContainer">
												Edit Display Photo
												<input type="text" name="file" id="imgbase64" hidden />
												<input id="file" type="file" />
											</label>
										</form>
									}
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
										<h5>@Model.Nickname</h5>
									</li>
									<li>
										<a class="" id="timeline" href="timeline" title="" data-ripple="">time
											line</a>
										@{
											if (Model.Username ==
			HttpContextAccessor.HttpContext.Session.GetString("username"))
											{
												<a class="" id="edit" href="edit" title="" data-ripple="">Edit</a>
												<a class="" href="friends" title="" data-ripple="">Friends</a>
												<a class="" href="followers" title="" data-ripple="">Followers</a>
												<a class="" href="followings" title="" data-ripple="">Followings</a>
											}
										}

										<a class="" id="more" href="hobby" title="" data-ripple="">Hobby</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- top area -->

		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static">


										<div class="widget">
											<h4 class="widget-title">Shortcuts</h4>
											<ul class="naves">
												<li>
													<i class="ti-clipboard"></i>
													<a asp-action="Index" asp-controller="Post">News feed</a>
												</li>
												<li>
													<i class="ti-files"></i>
													<a href="timeline">My pages</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="friends">friends</a>
												</li>
												<li>
													<i class="ti-power-off"></i>
													<a asp-action="Logout" asp-controller="Home" title="">Logout</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->
									</aside>
								</div><!-- sidebar -->
								<div class="col-lg-6">
									<div id="mainrender">

									</div>
									@{
										if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "timeline")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Timeline", "Home")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "photos")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Follow", "Home")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "hobby")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("HobbyList", "HobbyList")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "requests")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("RequestList", "Friend")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "friends")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Index", "Friend")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "followings")
										{
											<script>
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Followings", "Follow")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
										else if
											(this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/" + Model.Username + "/") +
											Model.Username.Length + 2) == "followers")
										{
											<script>

												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Followers", "Follow")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}	
										else if (this.Url.PageLink().Substring(this.Url.PageLink().IndexOf("/"+Model.Username+"/") + Model.Username.Length+2) == "edit"){
											<script>
												
												$(window).on("load", function () {
													var id = "@Model.Username";
													$.ajax({
														url: "@Url.Action("Edit", "User")",
														data: { id: id },
														success: function (jsReturnArgs) {
															$("#mainrender").html(jsReturnArgs);
														}
													});
												});
											</script>
										}
									}

								</div><!-- centerl meta -->
								<div class="col-lg-3">
									<aside class="sidebar static">

										<div class="widget friend-list stick-widget">
											<h4 class="widget-title">Quotes</h4>
											<ul class="friendz-list">
												@Model.Quote
											</ul>
										</div><!-- friends list sidebar -->
									</aside>
								</div><!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="bottombar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/js/pixelarity.js"></script>
	<script>
		$(document).ready(function () {
			$("#file").change(function (e) {
				var img = e.target.files[0];
				if (!pixelarity.open(img, true, function (res) {
					$("#result").attr("src", res);
					document.getElementById("imgbase64").value = res;
					$("#avatarForm").submit();
					//alert(document.getElementById("imgbase64").value);
				}, "jpg", 1)) {
					alert("Whoops! That is not an image!");
				}
			});
			$("#wallpaper").change(function (e) {
				$("#wallpaperForm").submit();
			});
		});
	</script>
</body>

</html>