@model dynamic

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@foreach (var item in Model.postsList)
{
	<section class="central-meta item">

		<div class="container user-post">
			<div class="row friend-info">
				<div class="col-2" id="avt">
					<img class="img-avt" id="post-id" src="~/@item.PostAuthorNavigation.AvatarSrc" alt="@item.PostId">
				</div>
				@if (Model.currentSessionUser.Username == item.PostAuthor)
				{
					<div class="col-9 friend-name">
						<ins class="row"><a href="..." title="">@item.PostAuthorNavigation.Nickname</a></ins>
						<span class="row">@item.PostTime</span>
					</div>
					<div class="col-1 dropdown show">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" asp-action="EditPost" asp-controller="Post"
						asp-route-postId="@item.PostId">Edit</a>
							<a class="dropdown-item" asp-action="DeletePost" asp-controller="Post"
						asp-route-postId="@item.PostId">Delete</a>
						</div>
					</div>
				}
				else
				{
					<div class="col-10 friend-name">
						<ins class="row"><a href="time-line.html" title="">@item.PostAuthorNavigation.Nickname</a></ins>
						<span class="row">@item.PostTime</span>
					</div>
				}
			</div>
			<div class="row post-meta">
				@if (item.PostImgSrc != null)
				{
					<img src="~/@item.PostImgSrc" class="img img-fluid" alt="image">
				}
				<div class="we-video-info">
					<ul id="@item.PostId">
																<li>
																	<a asp-action="ViewComment" asp-controller="Post" asp-route-postId="@item.PostId">
																	<span class="comment" data-toggle="tooltip"
																	title="Comments">
																		<i class="fa fa-comments-o"></i>																	</span>
																	</a>
																</li>
																<li style="position: relative;">
																	
																	<a id="react" class="icon-hover post-footer @item.PostId">
																	<div class="box-list-icons">
																		<div class="like-icon">
																			<label>Like</label>
																		</div>
																		<div class="love-icon">
																			<label>Love</label>
																		</div>
																		<div class="smiling-icon">
																			<label>Haha</label>
																		</div>
																		<div class="sad-icon">
																			<label>Sad</label>
																		</div>
																		<div class="angry-icon">
																			<label>Angry</label>
																		</div>
																	</div>
																	<script>
																		
																		$(document).ready(function() {
																			$.each($("#@item.PostId"), function(){
																				var id = $(this).closest("ul").attr('id');
																				$.ajax({
																					url: "@Url.Action("GetReactStatus", "React")",
																					data: { id: id },
																					async: false,
																					success: function (jsReturnArgs) {
																						$(document).find("#@item.PostId").find("#react").html(jsReturnArgs);
																					}
																				});
																			})
																		});
																	</script>
																</a>
																	
																</li>
																
															</ul>
				</div>
				<div class="description">
					<p>
						@item.PostContent
					</p>
				</div>
			</div>
		</div>
	</section>
}

</div>
</div>